.books-filters {
  font-family: system-ui;
  display: grid;
  align-items: baseline;
  grid-template-columns: auto 1fr;
  gap: 1em;
  margin: 1em 0;
  padding: 0 0.5em;
}

.books-filters .radios {
  display: flex;
  gap: 1em;
}

.books-filters .label {
  opacity: 0.5;
  font-variant: small-caps;
  cursor: default;
  user-select: none;
}

.books-filters .rating-star {
  color: var(--blue-bg);
}

.books-filters .rating-star:not(.lit) {
  opacity: 1;
  color: inherit;
}

.search-results {
  min-height: 40em;
}