.snippets-filters {
  font-family: system-ui;
  display: grid;
  align-items: baseline;
  grid-template-columns: auto 1fr;
  gap: 1em;
  margin: 1em 0;
  padding: 0 0.5em;
}

.snippets-filters .radios {
  display: flex;
  gap: 1em;
}

.snippets-filters .label {
  opacity: 0.5;
  font-variant: small-caps;
  cursor: default;
  user-select: none;
}

.search-results {
  min-height: 50em;
}