#tab-container {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#tabs-bodies {
  font-size: 2vh;
  flex: 0 1 auto;
  overflow: hidden;
}

.slideshow {
  display: flex;
  height: 100%;
}

.panel {
  flex: 1 0 100%;
  height: 100%;
  position: relative;
}

.panel-body {
  overflow: auto;
  height: 100%;
  background-color: #000;
  transition: background-color ease-in-out .5s;
}

.panel:focus-within .panel-body {
  outline: none;
  background-color: #111;
}

.panel-body::-webkit-scrollbar {
  display: none;
}

.page-changer {
  opacity: 0.25;

  position: absolute;
  top: 50%;

  transform: translateY(-50%);
  border: 0;
  outline: 0;
  padding: .5em 1em;

  font: inherit;
  background-color: #0003;
  color: #fff;

  transition:
    background-color ease-in-out 300ms,
    opacity ease-in-out 300ms;
}

.panel:focus-within .page-changer {
  opacity: 1;
}

.panel:focus-within .page-changer:hover {
  background-color: #0007;
}

.half-grid {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spaced-mini {
  margin: 0.5em 0;
}

.spaced-small {
  margin: 1em 0;
}

.spaced-medium {
  margin: 3em 0;
}

.spaced-big {
  padding: 7em 0;
}

.highlightable-line {
  opacity: .2;
  white-space: pre-wrap;
  align-self: normal;
}

.highlightable-line.active {
  opacity: 1;
}

.highlightable-line {
  clear: both;
  transition: opacity ease-in-out 250ms;
}

.two-cols .red {
  float: right;
  margin-left: 0.5em;
}

span.highlightable-line.active {
  text-shadow: 0 0 12px #ff0;
  /* animation: hl 1s ease; */
}

@keyframes hl {

  0% {
    transform: scale(2, 2) translate(10%, 0);
  }


  100% {
    transform: scale(1, 1);
  }

}

img {
  max-width: 100%;
  max-height: 100%;
}

#tab-bodies :is(h1, h2) {
  color: var(--blue-bg);
  margin: 1em 0;
}

.red {
  color: #f77;
}

#litany {
  position: relative;
}

#litany::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  opacity: 0.12;
  background-image: url(https://uploads7.wikiart.org/00381/images/peter-paul-rubens/christ-attended-by-angels-holding-chalices-peter-paul-rubens.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#notice {
  position: absolute;
  top: 1em;
  right: 1em;
  border: 1px solid var(--admin-border-color);
  background-color: var(--admin-bg-color);
  padding: 1em;
  z-index: 1;
}

#notice.fading-out {
  animation: fadeout 2s ease-in-out;
}

@keyframes fadeout {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

#tabs-names {
  position: relative;
}

h1.tab-links a.active {
  border-bottom-color: transparent !important;
}

#underline {
  height: 3px;
  background-color: var(--blue-bg);
  position: absolute;
  box-sizing: border-box;
  transform: translateX(-50%);
  transition:
    left 300ms ease-in-out,
    width 450ms ease-in-out;
}

#underline.suppress {
  transition: none;
}

#underline.bounce {
  animation: hover 500ms ease-in-out infinite alternate;
}

@keyframes hover {
  0% {
    margin-top: 0px;
  }

  100% {
    margin-top: 7px;
  }
}