.loading-item {
  border-radius: 3px;
  background-color: #222;
  color: transparent;
  position: relative;
  overflow: hidden;
  display: inline-block;
  box-sizing: border-box;
}

blockquote p:has(.loading-item) {
  text-indent: 0;
}

.loading-item::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';

  width: 30em;
  transform: translateX(-30em);
  background: linear-gradient(90deg, currentColor 0%, #333 50%, currentColor 100%);
  animation: shimmer 3s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(30em);
  }
}