.recents {
  padding: 2em 0;
}

.recents.alt {
  background: var(--bgalt);
}

.recents>*>ul {
  margin-bottom: 3em;
}

.quicklinks {
  list-style-type: none;
  padding-left: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  gap: 1em;
}

.quicklinks li {
  display: inline;
}

.quicklinks a.link {
  width: 100px;
  height: 100px;
  display: inline-grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: 75ms ease-in transform, 75ms ease-in filter;
  filter: saturate(0.5) brightness(0.5);
  border-radius: 7px;
  position: relative;
}

.quicklinks a.link:hover {
  transform: scale(1.15);
  filter: unset;
}

.quicklinks a.link:hover {
  text-decoration: underline;
}

.quicklinks a.link:hover>span {
  background: #000c;
  opacity: 1;
}

.quicklinks a.link>span {
  pointer-events: none;
  position: absolute;
  top: -33px;
  white-space: nowrap;

  background: #0003;
  padding: 7px 12px;
  transition: 75ms ease-in opacity;
  opacity: 0;
  text-shadow: 0px 1px 3px #000;
}



#featured-books-area {
  position: relative;
  padding: 1em 0;
}

#featured-books-area::before {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0.3;
  background: url(/img/categories/instruction-big.jpg);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  z-index: -1;
}

#featured-books-area ul {
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1em;
}

#featured-books-area h3 {
  margin-bottom: 0;
}