svg.rating-star {
  color: goldenrod;
  height: 10px;
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
  overflow: visible;
  opacity: 0.25;
}

svg.rating-star.lit {
  opacity: 1;
}