header#page-hero {
  padding: 1em 0;

  position: relative;
  background-color: var(--bgalt);
  box-shadow: 0px 0px 7px 7px #0003;
  z-index: 1;
}

header#page-hero>div {
  position: relative;
}

header#page-hero>section {
  background-size: cover;
  background-position-y: center;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.42;
}