.typography:not(.deindent) blockquote p {
  text-indent: 1em;
}

.typography code {
  font: inherit;
  color: inherit;
  font-variant: small-caps;
}

.typography p {
  hyphens: auto;
  text-align: justify;
}

.typography :is(ol, ul) ::marker {
  font-weight: bold;
  color: var(--bold-color);
}